.works {
    padding: 20px 10px 0;
    background-color: #ffffff;
}
.works h1 {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.works-contents {
    display: flex;
    flex-direction: column;
}
.works-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}
.works-content img {
    width: 80%;
}
.works-content p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}
.end {
    padding: 0 10px;
    margin-top: 50px;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

@media (min-width: 1020px) {
    .works {
        padding: 50px 20px;
    }
    .works h1 {
        font-size: 32px;
        margin-bottom: 50px;
    }
    .works-contents {
        display: flex;
        flex-direction: row;
    }
    .works-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        padding: 5px 30px;
        background-color: #eeeeee;
        border: 1px solid #eeeeee;
        width: 30%;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .works-content:hover {
        background-color: #ffa949;
        color: #ffffff;        
    }
    .works-content img {
        width: 100%;
    }
}